html, body, div, form,  h1, h2, h3, h4, h5, h6, p, b, strong{
    border: 0;
    margin: 0;
    padding: 0;
    font: inherit;
    font-weight: bold;

}

.group:after{
    display:block;
    content: "";
    clear: both;
}

ul{
    list-style: none;
}
.new-guest{
    color: #FAAC58;
}
#users{
    width:50%;
    height:20%;
    overflow-x:scroll;
    float: left;

}
#name{
    width:50%;
    height: 20%;
    margin-top:0;
    padding-top:0;
    float:right;

}
#room-list{
    clear:both;
    display: block;
    content:"";
}
#overlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;

    display: table;

}

#welcome{

    vertical-align:middle;
    color: white;
    font-size: 48px;

    display: table-cell;

}
#welcome:hover{
    cursor: pointer;
}

body{
    text-align: center;
    background-color: #000;
    margin: 8px;
    font-family: Verdana, Arial, Helvetica, Sans-serif;
}
#window{

    border:3px solid grey;
    width: 962px;
    height: 623px;
    background: #A7ACB3;
    padding: 20px;
    text-align: center;
}
#inner-window{
    width: 90%;
    height: 80%;
    background: #000;
    padding: 20px;
}
.row{
    background: #000;
    height: 100%;
}

.left{
    padding:10px 0;
    background: #F2F2F2;
   float: right;
   width:30%;
   height: 100%;
   border:1px solid grey;
   border-radius: 10px;
}

.right {
    overflow-y: scroll;
    width:70%;
    padding:10px 0;
    background: #F2F2F2;
    border:1px solid grey;
    border-radius: 10px;

    height: 100%;
    float: left;
}

b#room-list{
    padding: 2px;
    background: lightgrey;
}