html, body, div, form,  h1, h2, h3, h4, h5, h6, p, b, strong{
    border: 0;
    margin: 0;
    padding: 0;
    font: inherit;

}

.group:after{
    display:block;
    content: "";
    clear: both;
}

ul{
    list-style: none;
}

#overlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
    text-align: center;

    display: table;

}

#welcome{

    vertical-align:middle;
    color: white;
    font-size: 48px;

    display: table-cell;

}
#welcome:hover{
    cursor: pointer;
}

.left{
   float: left;
}

.right {
    float: right;
}

b#room-list{
    padding: 2px;
    background: lightgrey;
}