html, body, div, form,  h1, h2, h3, h4, h5, h6, p, b, strong{
    border: 0;
    margin: 0;
    padding: 0;
    font: inherit;


}

.group:after{
    display:block;
    content: "";
    clear: both;
}

ul{
    list-style: none;
}
.new-guest{
    background: #FAAC58;
    font-weight: bold;
    color: grey;
}
#users{
    width:100%;

    overflow: hidden;
    padding: 0;
    white-space: normal;

}
#name{
    overflow:hidden;
    width:100%;
    white-space: normal;
    margin-top:0;
    padding-top:0;

    padding: 0;
}
#room-list{
    clear:both;
    display: block;
    content:"";
}
#display{
    position:relative;
}

#overlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;

    display: table;

}

#welcome{

    vertical-align:middle;
    color: white;
    font-size: 48px;

    display: table-cell;

}
#welcome:hover{
    cursor: pointer;
}

body{
    text-align: center;
    background-color: #000;
    margin: 8px;
    font-family: Verdana, Arial, Helvetica, Sans-serif;

}
#window{

    border:3px solid grey;
    width: 962px;
    height: 623px;
    background: #A7ACB3;
    padding: 20px;
    text-align: center;
}
#inner-window{
    width: 90%;
    height: 80%;
    background: #000;
    padding: 20px;
}
.row{
    background: #000;
    height: 100%;

}

.left{
    padding:10px 0;
    background: #D3D7DC;
   float: right;
   width:30%;
   height: 100%;
   border:1px solid grey;
   border-radius: 10px;
}


.right {
    overflow-y: scroll;
    width:70%;
    padding:10px 0;
    background: #FFFEE2;;
    border:1px solid grey;
    border-radius: 10px;

    height: 100%;
    float: left;
}

form{
    border:none;
}
b#room-list{
    padding: 2px;
    background: lightgrey;
}
.top{
    font-size:11px;
    font-weight: 100;
    background: lightgrey;
    padding:0;
    margin:20px;
    padding:10px;
    border-radius: 10px;

}
.bottom{
    z-index:-1;

}
#message-form{
    font-weight: 100;
    font-size: 11px;
}
.room{
    color:#FE642E;
}
.nicknames{
    color:#FA58F4;
}
#name{
    color:#31B404;
}
#display{
    text-align: left;
}
.name-change{
    background:#F79F81;
    font-weight: bold;
    color: grey;
}